h1 {
    color: rgb(26, 26, 48);
    background-color: rgb(255, 238, 160);
    padding-left: 50px;
}

h1.page-title {
    color: rgb(26, 26, 48);
    background-color: rgb(255, 238, 160);
    font-size: 80px;
}

h2.link {
    color: rgb(26, 26, 48);
    background-color: rgb(255, 238, 160);
    font-size: 20px;
    word-spacing: 100px;
}

.bordered {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(26, 26, 48);
    border-radius: 5px;
}

a {
    color: rgb(26, 26, 48);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}